{% extends 'products/base.html' %}
{% load static %}


{% block content %}

<br> <br>
<div class="container">


<div class="row row-cols-1 row-cols-md-3">

  {% if Electronics %}
   {% for Electronic in Electronics %}
  <div class="col mb-4">
    <div class="card" style="width: 20rem;" >


      <img src="{{ Electronic.photo.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ Electronic.name}}</h5>
        <p class="card-text">{{ Electronic.description}}</p>
        <p class="card-text"> <mark style="background-color: green; color: white;">{{ Electronic.price}} L.E </mark> </p>
      </div>
    </div>
  </div>



    {% endfor %}
    {% else %}
     <p>No Products Available</p>
    {% endif %}

  </div>
  </div>

{% endblock  %}